@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.content{
    opacity: 0;
    animation: opacity 10s forwards;
    .box{
        @include centerBox;
        &::after {
            animation: border 10s 5s forwards;
        }
        p {
            padding: 5% 0;
        }
    }
    .moon {
        // width: 15rem;
        // height: 15rem;
        // border-radius: 50%;
        // box-shadow: 2rem 2rem 0 0 #fff;
        position: absolute;
        top: 10%;
        left: 80%;
        // transform: translate(-50%, -50%);
         height: 100px;
         width: 100px;
         box-shadow: 15px 15px 2px 5px white;
         border-radius: 50%;
    }
}


@keyframes opacity{
    100% {
        opacity: 1;
    }
};

@keyframes border {
    100% {
        left: 35%;
        right: 35%;
    }
}