@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.box {
    @include centerBox;
    opacity: 0;
    p {
        padding: 5% 0;
        font-size: 1.2em;
    }
}
.boxOne {
    animation: boxOpacity 10s 1s;
    &::after {
        animation: borderOne 10s 2s;
    }
}
.boxTwo {
    animation: boxOpacityTwo 5s 12s forwards;
    &::after {
        animation: borderTwo 5s 13s forwards;
    }

}

@keyframes boxOpacity {
    25% {
        opacity: 1;
    }
    75%{ 
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
};

@keyframes boxOpacityTwo {
    100% {
        opacity: 1;
    }
};

@keyframes borderOne {
    50% {
        left: 35%;
        right: 35%;
    }
}

@keyframes borderTwo {
    100% {
        left: 35%;
        right: 35%;
    }
}

@media (max-width: 900px){
    .box {
        p {
            font-size: .9em;
        }
    }
}