@mixin centerBox () {
    width: 40vw;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        height: 100%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
    }

    @media (max-width: 900px) and (orientation: portrait){
        width: 90vw;
    }
    @media (max-width: 900px) and (orientation: landscape){
        width: 70vw;
    }
};